@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #0e7017;
  color: #918f8f;
  font-family: Bricolage Grotesque, Arial;
  line-height: 1;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  color: white;
}

nav {
  /* font-size: 2.4rem; */
}

.navLink:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: -1;
  background: #00ff00;
  transition: transform .15s ease-out;
  transform: translateY(0);
}

.bgVert {
  background-color: #00ff00;
  border-radius: 1rem;
}

.navLink:hover:after {
  transform: translateY(-100%);
}

h1 {
  /* font-size: 20rem; */
  line-height: .75;
  font-variation-settings: "wght" 800;
}

/* h2 {
  font-size: 3.2rem;
} */

.name {
  /* font-size: 5.4rem; */
  letter-spacing: -.2rem;
  font-variation-settings: "wght" 800;
}

#about, #projects {
  font-variation-settings: "wght" 800;
}
